.item {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  flex-direction: row-reverse;
  overflow: hidden;
  flex: 0 0 auto;

  box-sizing: border-box;
  position: relative;
  z-index: 0;
  border-style: solid;
  border-color: var(--primary-background-color);
  border-width: 10px 10px;
}

.item:before {
  content: '';
  flex: 1;
  background: var(--primary-background-color);
  pointer-events: none;
  z-index: 10;
  position: relative;
  width: 100%;
  height: 100%;
}

.itemSent {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;

  overflow: hidden;
  flex: 0 0 auto;

  box-sizing: border-box;
  position: relative;
  z-index: 0;
  border-style: solid;
  border-color: var(--primary-background-color);
  border-width: 10px 10px;
}

.itemSent:before {
  content: '';
  flex: 1;
  background: var(--primary-background-color);
  pointer-events: none;
  z-index: 10;
  position: relative;
  width: 100%;
  height: 100%;
}

.topGroup {
  border-width: 20px 10px 0 10px;
}

.group {
  border-width: 0px 10px;
}

.bubble {
  background-color: var(--messages-bubble-background);
  border-radius: 32px;
  padding: 16px 18px;
  max-width: 60%;
  box-sizing: border-box;
  color: var(--primary-font-color);
  z-index: 0;
  position: relative;
  font-size: 15px;
  word-break: break-word;
}

.bubble:before {
  content: '';
  position: absolute;
  left: -15px;
  top: -15px;
  bottom: -15px;
  right: -15px;
  border: 18px solid var(--primary-background-color);
  border-radius: 40px;
  pointer-events: none;
}

.bubbleSent {
  background-color: none;
  border-radius: 32px;
  padding: 16px 18px;
  max-width: 60%;
  box-sizing: border-box;
  color: white;
  z-index: 0;
  position: relative;
  font-size: 15px;
  word-break: break-word;
}

.bubbleSent:before {
  content: '';
  position: absolute;
  left: -15px;
  top: -15px;
  bottom: -15px;
  right: -15px;
  border: 18px solid var(--primary-background-color);
  border-radius: 40px;
  pointer-events: none;
}

.sideContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 50px;
  height: 100%;
  background-color: var(--primary-background-color);
  overflow: hidden;
}

.sideContainer a {
  display: flex;
  align-items: center;
  height: 49px;
}

@media only screen and (max-width: 850px) {
  .item {
    border-width: 2px 2px;
  }

  .itemSent {
    border-width: 2px 2px;
  }

  .bubble {
    max-width: 80%;
  }

  .bubbleSent {
    max-width: 75%;
  }
  .avatar {
    width: 25px;
    height: 25px;

    transform: translateY(5px);
  }

  .sideContainer {
    width: 5px;
  }
  .sideContainer a {
    display: none;
  }
}
