.messages {
  display: grid;
  grid-template-columns: 375px 4fr;
  height: 100vh;
  width: 100vw;
  padding-top: 54px;
  box-sizing: border-box;
  background: url(../../assets/misc/blur.jpg);
  background-size: cover;
  position: relative;
}

.navBg {
  position: absolute;
  top: 0;
  background-color: var(--primary-background-color);
  width: 100%;
  height: 54px;
}

.sidebar {
  border-right: var(--secondary-border);
  /* box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.089); */
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--messages-sidebar-background);
  width: 375px;
}

@-moz-document url-prefix() {
  .header {
    background-color: var(--primary-background-color);
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  position: fixed;
  /* box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.089); */
  border-bottom: var(--secondary-border);
  width: 100%;
  height: 100px;
  width: 375px;
  box-sizing: border-box;
  backdrop-filter: blur(50px);
}

.userAvatarContainer {
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.userAvatar {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  position: absolute;
}

.userAvatarBlur {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  position: absolute;
  filter: blur(10px);
  opacity: 0.65;
  z-index: -3;
  object-fit: cover;
}

.headerTitle {
  font-size: 20px;
  font-weight: bold;
}

.contactsContainer {
  padding-top: 100px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.main {
  background-color: var(--primary-background-color);
  border-left: var(--secondary-border);
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.messageArea {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
  box-sizing: border-box;
  padding: 20px 0;
  overflow-y: scroll;
  position: relative;
  z-index: 10;
}

/*+ input box */
.messageBox {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: var(--primary-background-color);
  width: 100%;
  height: 54px;
  padding: 0 150px;
  bottom: 0;
  gap: 16px;
}

.messageForm {
  width: 100%;
}

.input {
  width: 100%;
  text-align: left;
  border: var(--secondary-border);
  border-radius: 32px;
  padding: 8px 16px;
  box-sizing: border-box;
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
}

.send {
  cursor: pointer;
  font-size: 20px;
  transform: translateY(1px);
}
