.container {
  position: fixed;
  transform: translateX(-385px) translateY(30px);
  width: 500px;
}

.container:after {
  bottom: 100%;
  left: 80%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: var(--primary-transparent-color);
  border-width: 8px;
  margin-left: -8px;
}

.inner {
  display: flex;
  position: fixed;
  flex-direction: column-reverse;
  top: 0;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--primary-transparent-color);
  height: fit-content;
  max-height: 550px;
  overflow-y: scroll;
  border: var(--primary-border);
  box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.089);
  backdrop-filter: blur(100px);
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding: 10px 10px;
}
