.container {
  position: fixed;
  transform: translateX(-385px) translateY(30px);
  width: 500px;
}

.container:after {
  bottom: 100%;
  left: 80%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: var(--primary-transparent-color);
  border-width: 8px;
  margin-left: -8px;
}

.inner {
  display: flex;
  position: fixed;
  flex-direction: column-reverse;
  top: 0;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--primary-transparent-color);
  height: fit-content;
  max-height: 550px;
  overflow-y: scroll;
  border: var(--primary-border);
  box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.089);
  backdrop-filter: blur(100px);
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding: 10px 10px;
}

.loader {
  align-self: center;
  width: 11px;
  height: 11px;
}

.none {
  font-size: 13px;
  padding: 10px 10px;
  align-self: center;
  color: var(--secondary-font-color);
}

@media only screen and (max-width: 850px) {
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-102%);
  }

  .container:after {
    bottom: -15px;
    left: 70%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: var(--primary-transparent-color);
    border-width: 8px;
    transform: rotateX(180deg);
  }
  .inner {
    display: flex;
    position: relative;
    flex-direction: column;
    top: initial;
    width: 90vw;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--primary-transparent-color);
    min-height: 50px;
    min-width: 200px;
    max-height: 80vh;
    overflow-y: scroll;
    border: var(--primary-border);
    backdrop-filter: none;
    border-radius: 0.25rem;
    box-sizing: border-box;
    padding: 10px 10px;
  }
}
