:root {
  --primary-font-color: rgb(0, 0, 0);
  --secondary-font-color: rgb(136, 136, 136);
  --nav-background-color: rgba(255, 255, 255, 0.733);
  --primary-transparent-color: rgba(255, 255, 255, 0.9);
  --user-menu-font-color: rgb(0, 0, 0);
  --save-color: rgb(73, 209, 107);
  --save-shadow-color: rgba(73, 209, 107, 0.336);
  --primary-background-color: rgb(255, 255, 255);
  --primary-border: 1px solid rgba(41, 41, 41, 0);
  --secondary-border: 1px solid rgb(206, 206, 206);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-font-color);
}

textarea:focus,
input:focus {
  outline: none;
}

button:focus {
  outline: 0;
}
/* 
@font-face {
  font-family: blonde;
  src: url(../assets/fonts/AvantageSmall.ttf);
} */

html {
  font-family: helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
}
