.card {
  display: flex;
  width: 100%;
  height: 40em;
  border: 1px solid red;
  margin: 0 0 4em 0;
  justify-content: center;
  /* box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.089); */
  border: 0px solid rgba(59, 59, 59, 0.158);
  position: relative;
}

/* Contain main image overflow */
.card-image-container {
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: 1em;
  overflow: hidden;
}

.card-image {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  display: block;
  object-position: top;
}

.card-image-blur {
  position: absolute;
  filter: blur(2em);
  opacity: 0.75;
  width: inherit;
  height: inherit;
  object-fit: cover;
  display: block;
  object-position: top;
  z-index: -2;
}
