#post {
  display: grid;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-top: 54px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-sizing: border-box;
}

#post__not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20em;
  height: 20em;
  overflow: hidden;
  border-radius: 1em;
  color: var(--secondary-font-color);
  gap: 1.5em;
}

#post__not-found-container > h3 {
  color: var(--secondary-font-color);
}

#post__return-button {
  background-color: rgb(255, 255, 255);
  color: var(--secondary-font-color);
  padding: 0 2em;
  height: 2.25em;
  font-size: 1.2rem;
  border-radius: 0.25em;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  transition: box-shadow 0.25s;
  border: 1px solid rgb(214, 214, 214);
}

#post__container {
  display: flex;
  box-shadow: 0px 0px 1em 1px rgba(0, 0, 0, 0.103);
  overflow: hidden;
  border-radius: 1em;
  border: var(--primary-border);
}

#post__image {
  object-fit: cover;
  width: 35em;
  height: 39.5em;
  opacity: 0;
  animation: anim 1s;
  animation-fill-mode: forwards;
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

#post__sidebar {
  width: 25em;
}

/*+ profile */
#post__profile__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8em;
  margin: 0em 1.25em;
  border-bottom: 1px solid rgba(124, 124, 124, 0.281);
}

#post__profile__container:hover {
}

#post__image__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  transition: transform 0.25s;
  cursor: pointer;
}

#post__image__container:hover {
  transform: translateY(-0.1em);
}

#post__profile__img {
  border-radius: 100%;
  width: 5em;
  height: 5em;
  position: absolute;
  object-fit: cover;
}

#post__profile__img-blur {
  border-radius: 100%;
  width: 5em;
  height: 5em;
  object-fit: cover;
  position: absolute;
  filter: blur(1em);
  opacity: 0.75;
  z-index: -3;
}

/*+ user info */

#post__name__container {
  margin-left: 1em;
  cursor: pointer;
  text-align: left;
}

#post__username {
  color: var(--secondary-font-color);
}

/*+ comments */

.post__comments > .view-all {
  color: var(--secondary-font-color);
  margin: 0 0 0.35rem 0;
  cursor: pointer;
}

.post__comments {
  font-size: 0.85rem;
  text-align: left;
  margin: 1em 1.25em;
}

.post__comment__container {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.post__comment__profile-img {
  border-radius: 100%;
  width: 2em;
  height: 2em;
  object-fit: cover;
  cursor: pointer;
}

.post__comment__container > .comment {
  margin: 0.7em 0;
}

.post__comment__container > .comment > .comment-user {
  font-weight: bold;
  cursor: pointer;
}

/*+ card footer */
.post__footer {
  position: absolute;
  width: inherit;
  height: 7em;
  padding: 0em 1.25em;
  bottom: 0;
  box-sizing: border-box;
}

.post__footer > .first-child {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__footer > .first-child > .left > .post__icon {
  margin: 0 0.25em 0 0;
}

.post__icon {
  cursor: pointer;
}

.like-icon > path:hover {
  fill: red;
  stroke: red;
}

.post__likes {
  cursor: pointer;
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 0.85rem;
  text-align: left;
}

/*+ comment input */

.post__footer > .comment-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: rgba(32, 32, 32, 0);
  border: 1px solid rgba(124, 124, 124, 0);
  border-top: 1px solid rgba(124, 124, 124, 0.281);
  margin-top: 0.75em;
  padding-top: 0.65em;
}

.post__footer > .comment-box > .comment__form {
  width: 100%;
}

.post__footer > .comment-box > .comment__form > .input-box {
  width: 100%;
  text-align: left;
  border: 0px solid rgba(124, 124, 124, 0);
  background: rgba(32, 32, 32, 0);
  color: var(--primary-font-color);
}

.post__footer > .comment-box > .send {
  cursor: pointer;
}
