.image {
  width: 35em;
  height: 39.5em;
  background: var(--loading-gradient);
  background-size: 200%;
  animation: 2s linear infinite gradientMove;
}

.profileImg {
  border-radius: 100%;
  width: 5em;
  height: 5em;
  position: absolute;
  object-fit: cover;
  background: var(--loading-gradient);
  background-size: 200%;
  animation: 2s linear infinite gradientMove;
}

.displayName {
  border-radius: 0.5rem;
  width: 10rem;
  height: 2rem;
  background: var(--loading-gradient);
  background-size: 200%;
  animation: 2s linear infinite gradientMove;
}

.username {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  width: 6rem;
  height: 1rem;
  background: var(--loading-gradient);
  background-size: 200%;
  animation: 2s linear infinite gradientMove;
}

.commentProfile {
  border-radius: 100%;
  width: 2em;
  height: 2em;
  object-fit: cover;
  cursor: pointer;
  background: var(--loading-gradient);
  background-size: 200%;
  animation: 2s linear infinite gradientMove;
}

.comment {
  width: 70%;
  height: 2em;
  margin: 0.5rem 0;
  background: var(--loading-gradient);
  background-size: 200%;
  animation: 2s linear infinite gradientMove;
  border-radius: 1em;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
