/*+ comments */

.viewAll {
  color: var(--secondary-font-color);
  margin: 0 0 0.35rem 0;
  cursor: pointer;
}

.comments {
  font-size: 0.85rem;
  text-align: left;
  margin: 1em 1.25em;
  overflow-y: scroll;
  height: 365px;
}

.commentContainer {
  display: flex;
  align-items: center;
  gap: 0.75em;
  word-break: break-all;
}

.avatar {
  border-radius: 100%;
  width: 2em;
  height: 2em;
  object-fit: cover;
  cursor: pointer;
}

.comment {
  margin: 14px 0;
}

.user {
  font-weight: bold;
  cursor: pointer;
}
