.card {
  display: flex;
  width: 35em;
  height: 55em;
  margin: 0 0 4em 0;
  justify-content: center;
  /* box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.089); */
  border: var(--primary-border);
  position: relative;
  border-radius: 16px;
}

/*@ Contain main overflow */
.container {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 16px;
  overflow: hidden;
}

/*+ card top and profile picture */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  height: 3.5em;
  background-color: var(--primary-background-color);
  padding: 1.5em;
}

.header > .left {
  display: flex;
}

.header > .right {
  display: flex;
  height: 100%;
  align-items: center;
}

.moreIcon {
  cursor: pointer;
}

/*# card profile picture */
.avatar {
  border-radius: 100%;
  height: 2.25em;
  width: 2.25em;
  object-fit: cover;
  display: block;
  object-position: center;
  cursor: pointer;
}

/* card user info */
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.displayName {
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
}

.username {
  color: var(--secondary-font-color);
  font-size: 0.85em;
  cursor: pointer;
}

/*+ image */

.imageLink {
  width: inherit;
  height: inherit;
}

.image {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  display: block;
  object-position: top;
  cursor: pointer;
}

.imageBlur {
  position: absolute;
  filter: blur(2em);
  opacity: 0.25;
  width: inherit;
  height: inherit;
  object-fit: cover;
  display: block;
  object-position: top;
  z-index: -2;
}

/*+ card__footer */
.footer {
  position: absolute;
  width: 100%;
  height: 12em;
  padding: 16px 1.25em;
  background-color: var(--primary-background-color);
  z-index: 3;
  bottom: 0;
  box-sizing: border-box;
}

.footer > .firstChild {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer > .firstChild > .left > .icon {
  margin: 0 0.25em 0 0;
}

.icon {
  cursor: pointer;
}

.likeIcon > path:hover {
  fill: red;
  stroke: red;
}

.likes {
  cursor: pointer;
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 0.85rem;
}

/*+ comments */

.comments > .viewAll {
  color: var(--secondary-font-color);
  margin: 0 0 0.35rem 0;
  cursor: pointer;
}

.comments {
  font-size: 0.85rem;
}

.comments > .comment {
  margin: 0.35em 0;
}

.comments > .comment > .commentUser {
  font-weight: bold;
  cursor: pointer;
}

/*+ comment input */

.footer .commentBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: rgba(32, 32, 32, 0);
  border: 1px solid rgba(124, 124, 124, 0);
  border-top: 1px solid rgba(124, 124, 124, 0.281);
  margin-top: 0.75em;
  padding-top: 0.65em;
}

.footer .commentForm {
  width: 100%;
}

.footer .inputBox {
  width: 100%;
  text-align: left;
  border: 0px solid rgba(124, 124, 124, 0);
  background: rgba(32, 32, 32, 0);
  color: var(--primary-font-color);
}

.footer .send {
  cursor: pointer;
}
