.card {
  display: flex;
  width: 35em;
  height: 55em;
  margin: 0 0 4em 0;
  justify-content: center;
  /* box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.089); */
  border: var(--primary-border);
  position: relative;
  border-radius: 16px;
}

/*@ Contain main overflow */
.card__container {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 16px;
  overflow: hidden;
}

/*+ card top and profile picture */

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  height: 3.5em;
  background-color: var(--primary-background-color);
  padding: 1.5em;
}

.card__header > .left {
  display: flex;
}

.card__header > .right {
  display: flex;
  height: 100%;
  align-items: center;
}

.more-icon {
  cursor: pointer;
}

/*# card profile picture */
.card__profile-picture {
  border-radius: 100%;
  height: 2.25em;
  width: 2.25em;
  object-fit: cover;
  display: block;
  object-position: center;
  cursor: pointer;
}

/* card user info */
.card__user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.card__display-name {
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
}

.card__username {
  color: var(--secondary-font-color);
  font-size: 0.85em;
  cursor: pointer;
}

/*+ image */

.card__image-link {
  width: inherit;
  height: inherit;
}

.card__image {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  display: block;
  object-position: top;
  cursor: pointer;
}

.card__image-blur {
  position: absolute;
  filter: blur(2em);
  opacity: 0.25;
  width: inherit;
  height: inherit;
  object-fit: cover;
  display: block;
  object-position: top;
  z-index: -2;
}

/*+ card__footer */
.card__footer {
  position: absolute;
  width: 100%;
  height: 12em;
  padding: 16px 1.25em;
  background-color: var(--primary-background-color);
  z-index: 3;
  bottom: 0;
  box-sizing: border-box;
}

.card__footer > .first-child {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__footer > .first-child > .left > .card__icon {
  margin: 0 0.25em 0 0;
}

.card__icon {
  cursor: pointer;
}

.like-icon > path:hover {
  fill: red;
  stroke: red;
}

.card__likes {
  cursor: pointer;
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 0.85rem;
}

/*+ comments */

.card__comments > .view-all {
  color: var(--secondary-font-color);
  margin: 0 0 0.35rem 0;
  cursor: pointer;
}

.card__comments {
  font-size: 0.85rem;
}

.card__comments > .comment {
  margin: 0.35em 0;
}

.card__comments > .comment > .comment__user {
  font-weight: bold;
  cursor: pointer;
}

/*+ comment input */

.card__footer > .comment-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: rgba(32, 32, 32, 0);
  border: 1px solid rgba(124, 124, 124, 0);
  border-top: 1px solid rgba(124, 124, 124, 0.281);
  margin-top: 0.75em;
  padding-top: 0.65em;
}

.card__footer > .comment-box > .comment__form {
  width: 100%;
}

.card__footer > .comment-box > .comment__form > .input-box {
  width: 100%;
  text-align: left;
  border: 0px solid rgba(124, 124, 124, 0);
  background: rgba(32, 32, 32, 0);
  color: var(--primary-font-color);
}

.card__footer > .comment-box > .send {
  cursor: pointer;
}
