#sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* box-shadow: 0px 0px 2em 0px rgba(0, 0, 0, 0.089); */
  border: 0px solid rgba(59, 59, 59, 0.158);
  border-radius: 1em;
  height: 30em;
  position: relative;
}

#home__sidebar__container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 25em;
  align-items: center;
}

/*+ profile */
#home__sidebar__profile__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home__sidebar__profile__container:hover {
}

#home__sidebar__image__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  transition: transform 0.25s;
  cursor: pointer;
}

#home__sidebar__image__container:hover {
  transform: translateY(-0.1em);
}

#home__sidebar__profile__img {
  border-radius: 100%;
  width: 5em;
  height: 5em;
  position: absolute;
  object-fit: cover;
}

#home__sidebar__profile__img-blur {
  border-radius: 100%;
  width: 5em;
  height: 5em;
  position: absolute;
  filter: blur(1em);
  opacity: 0.75;
  z-index: -3;
  object-fit: cover;
}

/*+ user info */

#home__sidebar__name__container {
  margin-left: 1em;
  cursor: pointer;
}

#home__sidebar__username {
  color: var(--secondary-font-color);
}

/*+ user stats */

#home__sidebar__stats {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1em 0 0 0em;
}

.home__sidebar__stat {
  margin: 0 0.5em;
  font-size: 0.85rem;
  color: var(--secondary-font-color);
  cursor: pointer;
}

.stat__number {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--primary-font-color);
}

/*+ links */

#home__sidebar__container > .info-links {
  display: flex;
  margin: 1.5em 0 0 0;
  gap: 0 0.75em;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}

#home__sidebar__container > .info-links > .link {
  color: rgb(180, 180, 180);
  font-size: 0.65rem;
}

#home__sidebar__container > .footer {
  display: flex;
  margin: 0.5em 0 0 0;
  justify-content: center;
  width: 100%;
}

#home__sidebar__container > .footer > .copyright {
  margin: 1em 0 0 0;
  color: rgb(180, 180, 180);
  font-size: 0.65rem;
}
