.home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6.5em;
}

.inner {
  display: flex;
  /* gap: 3em; */
  justify-content: center;
  align-items: flex-start;
  max-width: 975px;
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .home {
    margin-top: 0;
    max-width: 100%;
    overflow-x: hidden;
  }
  .inner {
    flex-direction: column-reverse;
    max-width: 100%;
  }
}
