#home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6.5em;
}

#home__inner {
  display: flex;
  /* gap: 3em; */
  justify-content: center;
  align-items: flex-start;
  max-width: 975px;
  width: 100%;
}

#home__feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
