#profile__upload-modal {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  backdrop-filter: blur(0.5rem);
}

#profile__upload-modal__container {
  display: grid;
  grid-template-rows: 1fr 6fr;
  width: 40em;
  height: 30em;
  border-radius: 1em;
  gap: 1.5em;
  background-color: var(--primary-background-color);
  box-shadow: 0px 0px 1em 1px rgba(0, 0, 0, 0.2);
  border: var(--primary-border);
}

#profile__upload-modal__header {
  display: flex;
  width: 93%;
  box-sizing: border-box;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--secondary-border);
}

#profile__upload-modal__header > h3 {
  color: var(--secondary-font-color);
}

#profile__upload-modal__header > .close {
  font-size: 1.4rem;
  cursor: pointer;
}

/*+ main section */

/*# upload */

#profile__upload-modal__upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  height: 7em;
}

#profile__upload-modal__upload-container > .profile__upload-modal__button-container > .upload {
  font-size: 3rem;
  padding: 0.5em;
  border-radius: 0.5rem;
  border: 2px dashed var(--secondary-font-color);
  color: var(--secondary-font-color);
  transition: box-shadow 0.25s;
  cursor: pointer;
}

#profile__upload-modal__upload-container
  > .profile__upload-modal__button-container
  > .upload:hover {
  box-shadow: 0px 0.25em 0.5em 1px rgba(0, 0, 0, 0.103);
}

.profile__upload-modal__button-container {
  position: absolute;
  height: 6.2em;
  width: 6.2em;
}

.profile__upload-modal__button-container > .file-input {
  position: absolute;
  height: 7em;
  width: 6em;
  z-index: -1;
}
#profile__upload-modal__top-container > form > p {
  font-size: 0.7rem;
  color: var(--secondary-font-color);
}
/*# caption */
#profile__upload-modal__caption-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#profile__upload-modal__caption-container > .caption-input {
  padding: 1em 1em 0 1em;
  border: 1px solid rgba(124, 124, 124, 0.281);
  border-radius: 0.5rem;
  height: 5rem;
  width: 40%;
  box-sizing: border-box;
  resize: none;
  text-align: center;
  background-color: var(--primary-background-color);
}

#profile__upload-modal__caption-container > .caption-input:focus {
  text-align: left;
}

/*# post button  */
#profile__upload-modal__caption-container > .post-btn {
  margin-top: 1.5em;
  background-color: var(--primary-background-color);
  color: var(--secondary-font-color);
  padding: 0 2em;
  height: 2.25em;
  font-size: 1.2rem;
  border-radius: 1em;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  transition: box-shadow 0.25s;
  border: var(--secondary-border);
}

/*! loading icon */

#profile__upload-modal__caption-container > .loader {
  margin-top: 2.7em;
}
