.card {
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  /* box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.089); */
  border: var(--primary-border);
  position: relative;
  border-radius: 9px;
}

/*@ Contain main overflow */
.container {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 9px;
  overflow: hidden;
  background: var(--loading-gradient);
  background-size: 200%;
}

/*+ image */

.link {
  width: inherit;
  height: inherit;
}

.blur {
  position: absolute;
  filter: blur(16px);
  opacity: 0;
  width: inherit;
  height: inherit;
  object-fit: cover;
  display: block;
  object-position: center;
  z-index: -2;
  transition: filter 0.35s, opacity 0.35s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  animation: fade 1s 1s forwards;
}

.overlay {
  font-size: 24px;
  color: white;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  gap: 27px;
  opacity: 0;
  transition: opacity 0.15s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.icon > p {
  font-size: 16px;
}

.card:hover .overlay {
  opacity: 1;
}

.loading {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  display: block;
  object-position: top;
  cursor: pointer;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/*! desktop */
@media only screen and (min-width: 1500px) {
  .card {
    width: 20vw;
    height: 20vw;
  }
}

/*! mobile */
@media only screen and (max-width: 850px) {
  .card {
    width: 85vw;
    height: 85vw;
  }
}
