#profile__hero-loading {
  position: relative;
  width: 100vw;
  height: 20em;
  display: block;
  z-index: -2;
  background: var(--loading-gradient);
  background-size: 200%;
  animation: 3s linear infinite gradientMove;
}

#profile__img-loading {
  position: absolute;
  transform: translateY(-50%);
  border-radius: 100%;
  width: 10em;
  height: 10em;
  background: var(--loading-gradient);
  background-size: 200%;
  animation: 3s linear infinite gradientMove;
}

.profile__card__image-loading {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  display: block;
  object-position: top;
  cursor: pointer;
  background: var(--loading-gradient);
  background-size: 200%;
  animation: 3s linear infinite gradientMove;
}

/*+ sidebar */

#sidebar__display-name-loading {
  border-radius: 0.5rem;
  width: 10rem;
  height: 2rem;
  background: var(--loading-gradient);
  background-size: 200%;
  animation: 3s linear infinite gradientMove;
}

#sidebar__username-loading {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  width: 6rem;
  height: 1rem;
  background: var(--loading-gradient);
  background-size: 200%;
  animation: 3s linear infinite gradientMove;
}

#profile__sidebar__counters-loading {
  display: flex;
  flex-direction: column;
}

.counter-loading {
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  width: 13rem;
  height: 2rem;
  background: var(--loading-gradient);
  background-size: 200%;
  animation: 3s linear infinite gradientMove;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
