#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile__hero {
  position: relative;
  width: 100vw;
  height: 20em;
  object-fit: cover;
  display: block;
  z-index: -2;
  object-position: center;
}

#profile__outer {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 1150px;
  width: 100%;
}

#profile__inner {
  display: flex;
  max-width: 1150px;
  width: 100%;
}

#profile__top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5em;
}

#profile__img-container {
}

#profile__img {
  position: absolute;
  transform: translateY(-50%);
  border-radius: 100%;
  width: 10em;
  cursor: pointer;
}

#profile__img-blur {
  position: absolute;
  transform: translateY(-50%);
  border-radius: 100%;
  width: 10em;
  filter: blur(1em);
  opacity: 0.75;
  z-index: -3;
}

#profile__top-section > .right {
  width: fit-content;
  position: relative;
  box-sizing: border-box;
}

#profile__top-section > .right > .icon-row {
  display: flex;
  gap: 1em;
  transform: translateY(-50%);
  box-sizing: border-box;
}

#profile__top-section > .right > .icon-row > .profile-btn {
  border: none;
  box-shadow: 0px 0px 1em 1px rgba(0, 0, 0, 0.103);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0 2em;
  height: 2.25em;
  font-size: 1.2rem;
  border-radius: 1em;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  transition: box-shadow 0.25s;
  border: var(--primary-border);
}

#profile__top-section > .right > .icon-row > .profile-btn:hover {
  box-shadow: 0px 0px 1em 1px rgba(0, 0, 0, 0.2);
}

#profile__top-section > .right > .icon-row > .action {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0px 0px 1em 1px rgba(0, 0, 0, 0.103);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 2.25em;
  width: 2.25em;
  font-size: 1.2rem;
  border-radius: 100%;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  transition: box-shadow 0.25s;
  border: var(--primary-border);
}

#profile__top-section > .right > .icon-row > .action:hover {
  box-shadow: 0px 0px 1em 1px rgba(0, 0, 0, 0.2);
}
